@import "~bulma/sass/utilities/initial-variables";

// Config vars
$paragon-blue: #1A3551;
$paragon-yellow: #FED839;
$inactive-color: #8C99A8;

$footer-color: #363B3E;

$primary: $paragon-blue;
$primary-invert: $paragon-yellow;

$family-sans-serif: europa, sans-serif;
$family-serif: grad, serif;

$bg-img: url('../img/bg.png');
$nav-bg: url('../img/nav-bg.svg');
$logo-bw: url('../img/logo-bw.svg');

$button-border-width: 2px;

/************
 * Mixins and Partials
 ***********/

%material-icons {
  font-family: 'Material Icons';
  font-size: 24px;
  display: inline-block;
  text-transform: lowercase !important;
}

.icon-font {
  @extend %material-icons;
}

@mixin padding-y($value) {
  padding-top: $value !important;
  padding-bottom: $value !important;
}

@mixin margin-y($value) {
  margin-top: $value !important;
  margin-bottom: $value !important;
}

@mixin padding-x($value) {
  padding-left: $value !important;
  padding-right: $value !important;
}

@mixin margin-x($value) {
  margin-left: $value !important;
  margin-right: $value !important;
}

.cursor-pointer {
  cursor: pointer;
}

.is-relative {
  position: relative;
}

html {
  font-size: 14px !important;

  @media screen and (min-width: 769px) {
    & {
      font-size: 15px !important;
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      font-size: 16px !important;
    }
  }
}

body {
  background: $bg-img;
  overflow-x: hidden;
}

.title,
h1, h2, h3, h4, h5, h6 {
  font-family: $family-serif;
  font-weight: 400 !important;
  margin-bottom: 1.5rem;
}

.subtitle {
  font-family: $family-sans-serif;
  font-weight: 600 !important;
}

.columns {
  flex-wrap: wrap;
}

/************
 * Padding helpers
 ***********/

// 1rem => 16px
// 4rem => 64px;
$spacer-size: 4rem;

.has-padding {
  &-top {
    &-small { padding-top: $spacer-size * 0.25 !important; }
    &-medium { padding-top: $spacer-size * 0.5 !important; }
    &-large { padding-top: $spacer-size * 1 !important; }
  }
  &-bottom {
    &-small { padding-bottom: $spacer-size * 0.25 !important; }
    &-medium { padding-bottom: $spacer-size * 0.5 !important; }
    &-large { padding-bottom: $spacer-size * 1 !important; }
  }
  &-y {
    &-small { @include padding-y($spacer-size * 0.25); }
    &-medium { @include padding-y($spacer-size * 0.5); }
    &-large { @include padding-y($spacer-size * 1); }
  }
  &-right {
    &-small { padding-right: $spacer-size * 0.25 !important; }
    &-medium { padding-right: $spacer-size * 0.5 !important; }
    &-large { padding-right: $spacer-size * 1 !important; }
  }
  &-left {
    &-small { padding-left: $spacer-size * 0.25 !important; }
    &-medium { padding-left: $spacer-size * 0.5 !important; }
    &-large { padding-left: $spacer-size * 1 !important; }
  }
  &-x {
    &-small { @include padding-x($spacer-size * 0.25); }
    &-medium { @include padding-x($spacer-size * 0.5); }
    &-large { @include padding-x($spacer-size * 1); }
  }
}

.has-margin {
  &-top {
    &-small { margin-top: $spacer-size * 0.25 !important; }
    &-medium { margin-top: $spacer-size * 0.5 !important; }
    &-large { margin-top: $spacer-size * 1 !important; }
  }
  &-bottom {
    &-small { margin-bottom: $spacer-size * 0.25 !important; }
    &-medium { margin-bottom: $spacer-size * 0.5 !important; }
    &-large { margin-bottom: $spacer-size * 1 !important; }
  }
  &-y {
    &-small { @include margin-y($spacer-size * 0.25); }
    &-medium { @include margin-y($spacer-size * 0.5); }
    &-large { @include margin-y($spacer-size * 1); }
  }
  &-x {
    &-small { @include margin-x($spacer-size * 0.25); }
    &-medium { @include margin-x($spacer-size * 0.5); }
    &-large { @include margin-x($spacer-size * 1); }
  }
}

/************
 * Menu
 * Styles and variables
 * Nav animations based on: https://codepen.io/equinusocio/pen/wPvvmv
 ***********/
 $menu-item-color: hsl(0, 0%, 100%) !default;
//  $menu-item-radius: $radius-small !default;
//  $menu-item-hover-color: $text-strong !default;
//  $menu-item-hover-background-color: $background !default;
 $menu-item-active-color: hsl(0, 0%, 96%) !default;
//  $menu-item-active-background-color: $link !default;
//  $menu-list-border-left: 1px solid $border !default;
 $menu-label-color: $inactive-color !default;

.navigation {
  background-image: $nav-bg, $bg-img;
  background-position: center;
  background-blend-mode: overlay;
  > .container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.nav-icon {
  @extend %material-icons;
  cursor: pointer;
  padding: 1rem;

  &.nav-icon-inverted {
    color: $paragon-yellow;
  }
}

.drawer-menu {
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
  transition-delay: 100ms;
  background: $paragon-blue;
  padding: 1.5rem;
  &.is-active {
    transform: none;
  }
}

.menu-container {
  overflow: auto;
  opacity: 0;
  transform: translateX(30%);
  transition: all 500ms cubic-bezier(0.4, 0.0, 0.2, 1);
  transition-delay: 0;

  .drawer-menu.is-active & {
    transform: none;
    opacity: 1;
    transition-delay: 300ms;
  }
}

.desktop-nav-item {
  display: inline-block;

  &:not(:last-child)::after {
    content: '/';
    display: inline-block;
    @include margin-x($spacer-size * 0.25);
  }
}

/************
 * PreFooter
 * Styles and variables
 ***********/
.pre-footer {
  background: rgba($footer-color, 0.25);
}

/************
 * Footer
 * Styles and variables
 ***********/
 .footer {
  background: $footer-color !important;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
}


/************
 * BannerImage
 * Styles and variables
 ***********/
.banner-image-container {
  width: 100vw;
  padding-top: (1 / 3) * 100%;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 0 -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.background-position {
  &-top { background-position: top; }
  &-center { background-position: center; }
  &-bottom { background-position: bottom; }
}

/************
 * Gallery
 * Styles and variables
 ***********/
.gallery-container {
  position: relative;
}

.gallery-images-container {
  display: flex;
}

.gallery-description {
  position: relative;
  padding: 2.5rem;
  z-index: 99;

  @media screen and (min-width: 769px) {
    & {
      padding: 5rem;
    }
  }
}

.gallery-banner {
  width: 100vw;
  height: 250px;
  position: absolute;
  left: 50%;
  right: 50%;
  margin: 0 -50vw;
  top: 0;
  background: $paragon-blue;
  z-index: 0;

  @media screen and (min-width: 768px) {
    & {
      height: 400px;
    }
  }

  &::after {
    content: "";
    background: $logo-bw;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
  }
}

.gallery-main-image,
.gallery-next-image,
.gallery-prev-image {
  position: relative;
  padding: calc(0.75 * 80%) 0 0 0 !important;
  flex: 0 0 80%;
  box-sizing: border-box;
  overflow:hidden;
  z-index: 99;

  @media screen and (min-width: 1088px) {
    & {
      flex: 0 0 50%;
      padding: calc(0.75 * 50%) 0 0 0 !important;
    }
  }
}

.gallery-main-image {
  margin-left: 10%;

  @media screen and (min-width: 1088px) {
    & {
      margin-left: 25%;
    }
  }
}

.gallery-next-image,
.gallery-prev-image {
  margin: 0 1.5rem;

  .gallery-overlay {
    background: rgba(#fff, 0.7%);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
  }
}

.gallery-prev-image {
  transform: translateX(calc(-300% - 6rem));
}

.parallax-gallery {
  top: 0;
}

.current-slide {
  font-size: 4rem;
  font-weight: 600;
  min-width: 5rem;
  display: inline-block;
  line-height: 4rem;
}

.total-slides {
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
}

.gallery-icon {
  @extend %material-icons;
  cursor: pointer;
  margin: 1rem;
  font-size: 2rem;
}

/************
 * Tile
 * Styles and variables
 ***********/
.block {
  height: 100%;
  width: 100%;
  box-shadow: 0 2px 24px 0 rgba(0,0,0,0.26);
  background-color: #fff;
  padding: 1em 1.5em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-repeat: no-repeat;

  &.block--height-1 {
    min-height: 240px;

    @media screen and (min-width: 1088px) {
      & {
        min-height: 240px;
      }
    }

    @media screen and (min-width: 1440px) {
      & {
        min-height: 285px;
      }
    }
  }

  &.block--height-2 {
    min-height: 240px;

    @media screen and (min-width: 1088px) {
      & {
        min-height: 480px;
      }
    }

    @media screen and (min-width: 1440px) {
      & {
        min-height: 590px;
      }
    }
  }
}

/************
 * Product Page
 * Styles and variables
 ***********/
 .tech-specs-container {
   background: $paragon-blue;
 }


 /************
 * Dropdown
 * Styles and variables
 ***********/
.paragon-dropdown {
  display: inline-block;
  position: relative;

  > a:after {
    @extend %material-icons;
    content: 'arrow_drop_down';
    font-size: 1.5rem;
    padding-left: 0.5rem;
    line-height: 1rem;
    vertical-align: sub;
  }

  ul {
    list-style: none;
    margin: 0 !important;
    padding-left: 0;
    visibility: hidden;
    opacity: 0;
    min-width: 15rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: -50%;
    display: none;
    background: $bg-img;
    z-index: 99;
    border-radius: 5px;
    box-shadow: 0 2px 24px 0 rgba(0,0,0,0.26);

    li {
      @include margin-y(0.5rem);
    }
  }

  &:hover ul,
  &:focus-within ul,
  ul:hover,
  ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
  }

}



/************
 * Modify Bulma Sections
 * Styles and variables
 ***********/
.section {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1088px) {
    & {
      max-width: 960px;
      width: 960px;
    }
  }

  @media screen and (min-width: 1440px) {
    & {
      max-width: 1200px;
      width: 1200px;
    }
  }
}

// Helper Classes
.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 5em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top-0 {
  margin-top: 0 !important;
}

@import "~bulma";
